# Stacks Clicker Environment Variables

# WalletConnect Project ID (Required)
# Get yours at https://cloud.walletconnect.com
VITE_WALLETCONNECT_PROJECT_ID=your_project_id_here
VITE_DEPLOYER_ADDRESS=SP5K2RHMSBH4PAP4PGX77MCVNK1ZEED07CWX9TJT

# Enable/Disable Debug Mode (Optional)
# Set to 'true' to see detailed logs in the console
VITE_DEBUG=true

# Stacks Network Mode (Optional - Default is mainnet)
VITE_STACKS_NETWORK=mainnet

# API Key for optional price tracking (Optional)
VITE_COINGECKO_API_KEY=
